<div class="row">
    <div class="col">
        <nav class="navbar navbar-dark default-color justify-content-between">
            <a class="navbar-brand" href="/">Event On Fire</a>
            <a href={{#if user}}"/user-login"{{else}}"/user-login"{{/if}}>
                {{#if user}} <button class="btn btn-outline-dark btn-sm my-0" type="submit">Logout</button>
                {{else}} <button class="btn btn-outline-dark btn-sm my-0" type="submit">Create Account With
                    Us</button>{{/if}}
            </a>
        </nav>
    </div>
</div>



<div class="row no-gutters">

    <div class="col " style=" border-right: 1px solid #333;">
        <div class="left d-flex justify-content-center align-items-center">
            <div class="card" id="card1">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Wanna Add Your Event??</h4>
                    <!-- Text -->
                    <p class="card-text"> No need to feel alone. List your own event and get connect with your community
                        partner </p>
                    <!-- Button -->
                    <a href="eventRegistration" class="btn btn-dark" style="margin-left:30px">Click On Me &#128512;</a>

                </div>

            </div>
        </div>
    </div>
    <div class="col  ">
        <div class="right d-flex justify-content-center align-items-center">
            <div class="card" id="card1">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://www.itl.cat/pngfile/big/146-1461098_concert-crowd-wallpaper-events-concerts.jpg"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Wanna Attend An Event??</h4>
                    <!-- Text -->
                    <p class="card-text"> No need to feel alone. Search ongoing event nearby you and do participate.
                    </p>
                    <!-- Button -->
                    <a href="/event_get" class="btn btn-dark" style="margin-left:48px"> Search Here</a>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small black darken-3">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/">eventonfire.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->