<div class="row">
    <div class="col">
        <nav class="navbar navbar-dark default-color justify-content-between">
            <a class="navbar-brand" href="/">Event On Fire</a>
            <a href="/user-signin">

                <button class="btn btn-outline-dark btn-sm my-0" type="submit">Sign In</button>
            </a>
        </nav>
    </div>
</div>



<div class="row no-gutters">

    <div class="col ">
        <div class=" d-flex justify-content-center align-items-center">
            <!-- Material form register -->
            <div id="r-alert-box" role="alert" style="position: absolute; top:0px"></div>
            <div class="card" style="margin-top: 75px; margin-bottom:75px ;">

                <h5 class="card-header default-color white-text text-center py-4">
                    <strong>Sign up</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form action="/user_create" method="POST" class="text-center" style="color: #757575;">

                        <div class="form-row">
                            <div class="col">
                                <!-- First name -->
                                <div class="md-form">
                                    <input type="text" name="firstName" id="materialRegisterFormFirstName"
                                        class="form-control" required>
                                    <label for="materialRegisterFormFirstName">First name</label>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Last name -->
                                <div class="md-form">
                                    <input type="text" name="lastName" id="materialRegisterFormLastName"
                                        class="form-control" required>
                                    <label for="materialRegisterFormLastName">Last name</label>
                                </div>
                            </div>
                        </div>

                        <!-- E-mail -->
                        <div class="md-form mt-0">
                            <input type="email" name="emailId" id="materialRegisterFormEmail" class="form-control"
                                required>
                            <label for="materialRegisterFormEmail">E-mail</label>
                        </div>
                        <!-- Phone number -->
                        <div class="md-form">
                            <input type="password" name="contactNumber" id="materialRegisterFormPhone"
                                class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock">
                            <label for="materialRegisterFormPhone" required>Phone number</label>

                        </div>
                        <!-- Password -->
                        <div class="md-form">
                            <input type="password" name="password" id="materialRegisterFormPassword"
                                class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" required>
                            <label for="materialRegisterFormPassword">Password</label>

                        </div>





                        <!-- Sign up button -->
                        <button class="btn btn-outline-dark btn-rounded btn-block my-4 waves-effect z-depth-0"
                            type="submit" id="r-submit">Register</button>

                        <!-- Social register -->
                        <p>or sign up with:</p>

                        <a type="button" class="btn-floating btn-fb btn-sm">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a type="button" class="btn-floating btn-tw btn-sm">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a type="button" class="btn-floating btn-li btn-sm">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a type="button" class="btn-floating btn-git btn-sm">
                            <i class="fab fa-github"></i>
                        </a>

                        <hr>


                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!-- Material form register -->
        </div>
    </div>

</div>
<!-- Footer -->
<footer class="page-footer font-small black darken-3">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/">eventonfire.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->